apiVersion: v1
kind: Service
metadata:
  name: aws-tag-exporter
  labels:
    app: aws-tag-exporter
    component: metrics-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 8080
    targetPort: metrics
    protocol: TCP
  selector:
    app: aws-tag-exporter
